<h1>User Dashboard</h1>

<% if flash.has?(:message) %>
  <p><%= flash[:message] %></p>
<% end %>

<a href="/logout">Logout</a>

<a href="<%= @user.slug %>/workouts/new">Add a workout</a>

</br>
</br>
<% @user.workouts.reverse.each do |workout| %>
  <p><a href="<%= @user.slug %>/workouts/<%= workout.id %>"><%= workout.name %> - <%= workout.date %></a></p>
<% end %>